@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap');

body {
  background-color: #DCE7F1;
  margin: 0;
}

.header {
  background-color: #94A89A;
  padding-top: 5px;
  padding-left: 10px;
  border-color: #94A89A;
  /* border-radius: 4px; */
  display: flex;
  padding-bottom: 0px;
}

/* .logo {
  max-width: 70px;
  object-fit: cover;
  flex-wrap: wrap;
  margin-right: 10px;
} */

.logo {
  max-width: 90px;
  max-height: 100%;
  object-fit: cover;
  flex-wrap: wrap;
  margin-left: 0px;
}

/* .rTimeTitle {
  block: inline;
  padding-top: 10px;
  display: inline;
  font-size: 50px;
  font-family: 'Darker Grotesque';
} */

.rTimeTitle {
  block: inline;
  display: inline;
  font-family: 'Darker Grotesque';
  font-size: 50px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 35px;
}

.nav-links {
  background-color: #EBD7C1;
  font-family: 'Sora', sans-serif;
  border: 1px solid #EBD7C1;
  border-radius: 10px;
  font-size: 140%;
  color: black;
  display: inline;
  margin-left: 10px;
  margin-top: 0px;
}

.nav-links:hover {
  background-color: #EFD3A9;
  border-color: #EFD3A9;
}

.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #94A89A;
}

.nav-button {
  text-decoration: none;
  color: black;
  padding-right: 40px;
}

.text{
font-family: 'Lato', sans-serif;
padding-left: 80px;
padding-right: 80px;
line-height: 30px;
margin-top: 10px;
margin-bottom: 30px;
}

.genpg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: -430px;
  padding-bottom: -20px;
  height: 100%;
  width: 100%;
  background-image: url("bggif.gif");
  background-repeat: repeat-x;
  opacity: 0.9;
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 70px;
  margin-top: 0em;
  margin-bottom: 5px;
}

.teamPics{
  /* width: auto;
  height: 100%; */
  display: flex; 
  justify-content: space-evenly;
  flex-direction: row;
} 

.profilePics {
  width: 400px;
  height: 500px;
  object-fit: cover;
  display: flex;
  justify-content: space-evenly;
  border: 4px solid white;
  border-radius: 5px;
}
/* 
.teamNames{
  font-family: 'Darker Grotesque';
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
} */
.as{
  font-family: 'Darker Grotesque';
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  width: 400px;
  text-align: justify;
  display: inline-block;
  margin-left: 40px;
  /* margin-bottom: 5px; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}
.al{
  font-family: 'Darker Grotesque';
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  width: 400px;
  text-align: justify;
  display: inline-block; 
}

.cw{
  font-family: 'Darker Grotesque';
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  width: 400px;
  text-align: justify;
  display: inline-block;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}

.footer {
  background-color: #94A89A;
  padding: 40px;
  font-family: 'Sora';
}

.artLink {
  color: black;
}